@{
    ViewData["Title"] = "Home Page";
}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />

}

<div class="row align-items-center mt-3">
    <div class="col">
        <h4>Home</h4>
    </div>
    <div class="col text-end">
        <i class="fa-solid fa-bell"></i>
    </div>
</div>

<div class="row mt-4">
    <div class="col-2 col-lg-1">
        <img src="https://placekitten.com/50/50" class="img-fluid rounded-circle" />
    </div>
    <div class="col-10 col-lg-11">
        <textarea class="form-control"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="tweet mt-5">
            <div class="row">
                <div class="col-2 col-sm-1">
                    <img src="https://placekitten.com/40/40" class="img-fluid" />
                </div>
                <div class="col-10 col-sm-11">
                    <div>
                        <strong>Leela ...</strong>
                        <span>@@leelan...</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus totam iusto
                        laboriosam accusantium sunt dolore,
                    </p>
                    <div><img src="https://placekitten.com/600/300" class="img-fluid" /></div>
                </div>
            </div>
        </div>
        <div class="tweet mt-5">
            <div class="row">
                <div class="col-2 col-lg-1">
                    <img src="https://placekitten.com/40/40" class="img-fluid" />
                </div>
                <div class="col-10 col-lg-11">
                    <div>
                        <strong>Leela ...</strong>
                        <span>@@leelan...</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus totam iusto
                        laboriosam accusantium sunt dolore,
                    </p>
                    <div><img src="https://placekitten.com/600/300" class="img-fluid" /></div>
                </div>
            </div>
        </div>
        <div class="tweet mt-5">
            <div class="row">
                <div class="col-2">
                    <img src="https://placekitten.com/40/40" class="img-fluid" />
                </div>
                <div class="col-10">
                    <div>
                        <strong>Leela ...</strong>
                        <span>@@leelan...</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus totam iusto
                        laboriosam accusantium sunt dolore,
                    </p>
                    <div><img src="https://placekitten.com/600/300" class="img-fluid" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

