<div class="sidebar-widgetbox mt-5 p-3">
    <div>
        <h3 class="fs-3">Whats Happening?</h3>
    </div>
    <div class="row align-items-center my-4">
        <div class="col-9">
            <div class="text">
                <div><small>Business & finance · LIVE</small></div>
                <div>
                    <strong>
                        Ukrainian prosecutors are requesting a life sentence for first Russian soldier to
                        face war crimes trial since invasion
                    </strong>
                </div>
                <div class="fs-6">Promoted by Disney+ Hotstar</div>
            </div>
        </div>
        <div class="col-3">
            <img src="https://placekitten.com/200/400" class="img-fluid" />
        </div>
    </div>
    <div class="row align-items-center my-4">
        <div class="col-9">
            <div class="text">
                <div><small>Business & finance · LIVE</small></div>
                <div>
                    <strong>
                        Ukrainian prosecutors are requesting a life sentence for first Russian soldier to
                        face war crimes trial since invasion
                    </strong>
                </div>
                <div class="fs-6">Promoted by Disney+ Hotstar</div>
            </div>
        </div>
        <div class="col-3">
            <img src="https://placekitten.com/200/400" class="img-fluid" />
        </div>
    </div>
</div>