<nav class="bg-voilet ">
    <div class="sidebar-button">
        <i class="bx bx-menu-alt-right sidebarBtn"></i>
        <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
        <input type="text" class="form-control" placeholder="Search..." />
        <i class="bx bx-search"></i>
    </div>
    <div class="avatar avatar-l">
        <partial name="Members/_MemberAvatar" />
    </div>
</nav>