<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Echo Company - @ViewData["Title"]</title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    @* <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/mstile-150x150.png"> *@
    
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    @await RenderSectionAsync("Stylesheets", required: false)
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/assets/css/color-modes.css" type="text/css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/css/site.css" type="text/css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 col-lg-1 col-xl-2 border-end">
                <partial name="_NavMenu" />
            </div>

            <div class="col-10 col-lg-7 col-xl-6">
                @RenderBody()
            </div>

            <div class="col-lg-4 mt-4 d-none d-lg-block">
                <div class="position-sticky" style="top: 0px">
                    <div>
                        <input type="text" class="form-control" placeholder="Search Twitter" />
                    </div>

                    @await RenderSectionAsync("SidebarWidgets", required: false)
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("JavaScripts", required: false)
    @await RenderSectionAsync("ScriptTag", required: false)
</body>
</html>
