<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Echo Company - @ViewData["Title"]</title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    @* <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/mstile-150x150.png"> *@
    
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    @await RenderSectionAsync("Stylesheets", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link href="~/lib/bootstrap/assets/css/color-modes.css" type="text/css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/css/site.css" type="text/css" rel="stylesheet">
    @await RenderSectionAsync("StyleTag", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <partial name="_NavMenu" />
            <div class="col-sm p-3 min-vh-100">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        @RenderBody()
                    </div>
                    <div class="col-lg-4 mt-4 d-none d-lg-block">
                        <div class="position-sticky" style="top: 0px">
                            <div>
                                <input type="text" class="form-control" placeholder="Search" />
                            </div>
                            @await RenderSectionAsync("SidebarWidgets", required: false)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("JavaScripts", required: false)
    @await RenderSectionAsync("ScriptTag", required: false)
</body>
</html>
