<div class="app-nav d-flex flex-column position-sticky align-items-end align-items-xl-start">
    <div>
        <i class="bx bx-analyse fs-3 mt-3 text-primary"></i>
    </div>
    <div class="my-3">
        <a class="text-dark text-decoration-none" asp-controller="Home" asp-action="Index">
            <i class="bx bx-home-alt-2  fs-4"></i>
            <span class="fs-4 d-none d-xl-inline">Home</span>
        </a>
    </div>
    <div class="my-3">
        <a class="text-dark text-decoration-none" asp-controller="Campaigns" asp-action="Index">
            <i class="bx bx-heart fs-4"></i>
            <span class="fs-4 d-none d-xl-inline">Campaigns</span>
        </a>
    </div>
    <div class="my-3">
        <i class="bx bx-collection fs-4"></i>
        <span class="fs-4 d-none d-xl-inline">Opportunities</span>
    </div>
    <div class="my-3">
        <i class="bx bx-calendar-star fs-4"></i>
        <span class="fs-4 d-none d-xl-inline">Events</span>
    </div>
    <div class="my-3">
        <i class="bx bx-bell fs-4"></i>
        <span class="fs-4 d-none d-xl-inline">Notifications</span>
    </div>
    <div class="my-3">
        <i class="bx bx-chat fs-4"></i>
        <span class="fs-4 d-none d-xl-inline">Messages</span>
    </div>
    <div class="my-3">
        <i class="bx bx-user-circle fs-4"></i>
        <span class="fs-4 d-none d-xl-inline">Profile</span>
    </div>

    <div class="user-avatar position-absolute">
        <img src="https://placekitten.com/40/40" class="img-fluid rounded-circle" />
    </div>
</div>