<div class="mb-9">
    <div class="px-4 px-lg-6 py-3">
        <div class="row justify-content-between gy-4">
            <div class="col-auto">
                <h2>Campaigns <span class="text-700 fw-semi-bold">(8)</span></h2>
            </div>
            <div class="col-auto d-flex flex-wrap gap-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveCampaignModal">
                    <i class="bx bx-plus me-2"></i>Create New Campaign
                </button>
            </div>
        </div>
    </div>
    <div class="px-4 px-lg-6 pb-3">
        <form class="row gy-2 gx-3 align-items-center">
            <div class="col-6">
                <input class="form-control search-input search w-100" type="search" placeholder="Search by name" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>
            </div>
            <div class="col-6">
                <button class="btn px-4 btn-primary btn-block w-100">
                    <i class="bi bi-filter me-1"></i>
                    <span>Filter</span>
                </button>
            </div>
        </form>
    </div>
    <div class="px-4 px-lg-6 py-4 border-bottom">
        <h4>Most Recent</h4>
        <p class="mb-4">Campaigns you’ve created recently. Can be private or public pampaigns. <a href="#!"> Change preference</a></p>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <a class="text-decoration-none" href="#">
                    <div class="card overflow-hidden bg-transparent h-100">
                        <div class="position-relative">
                            <img class="w-100" src="~/images/kanban/board-2.png" style="height: 128px;" alt="" />
                            <div class="avatar-group position-absolute" style="bottom: 1rem; left: 1.5rem">
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/5.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/6.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/7.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/8.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/9.webp" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <h3 class="text-900">Falcon React</h3>
                                <p class="text-700 mb-4">Production line</p>
                            </div>
                            <div class="d-flex gap-4">
                                <h5 class="text-900"><span class="bx bx-list-check text-700 me-1"></span>11</h5>
                                <h5 class="text-900"><span class="bx bx-comment text-700 me-1"></span>29</h5>
                                <h5 class="text-900"><span class="bx bx-calendar-star text-700 me-1"></span>9</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-lg-6 mb-3">
                <a class="text-decoration-none" href="#">
                    <div class="card overflow-hidden bg-transparent h-100">
                        <div class="position-relative">
                            <div style="height: 128px; background-color: #4788A8"></div>
                                <div class="avatar-group position-absolute" style="bottom: 1rem; left: 1.5rem">
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/1.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/2.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/3.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/4.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/avatar-placeholder.webp" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <h3 class="text-900">Issue Tickets</h3>
                                <p class="text-700 mb-4">Daily task</p>
                            </div>
                            <div class="d-flex gap-4">
                                <h5 class="text-900"><span class="bx bx-list-check text-700 me-1"></span>44</h5>
                                <h5 class="text-900"><span class="bx bx-comment text-700 me-1"></span>12</h5>
                                <h5 class="text-900"><span class="bx bx-calendar-star text-700 me-1"></span>3</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-lg-6 mb-3">
                <a class="text-decoration-none" href="#">
                    <div class="card overflow-hidden bg-transparent h-100">
                        <div class="position-relative">
                            <img class="w-100" src="~/images/kanban/board-3.png" style="height: 128px;" alt="" />
                            <div class="avatar-group position-absolute" style="bottom: 1rem; left: 1.5rem">
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/10.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/11.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/12.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/13.webp" alt="" />
                                </div>
                                <div class="avatar avatar-m  border border-white rounded-circle">
                                    <img class="rounded-circle " src="~/images/team/avatar-placeholder.webp" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <h3 class="text-900">Rebuilding</h3>
                                <p class="text-700 mb-4">Production line</p>
                            </div>
                            <div class="d-flex gap-4">
                                <h5 class="text-900"><span class="bx bx-list-check text-700 me-1"></span>13</h5>
                                <h5 class="text-900"><span class="bx bx-comment text-700 me-1"></span>11</h5>
                                <h5 class="text-900"><span class="bx bx-calendar-star text-700 me-1"></span>15</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>