@{
    ViewData["Title"] = "Administrator";
}

@section Stylesheets {
<!-- <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet"> -->
}

<div class="container">
    <h1>Welcome</h1>
</div>

@section JavaScripts {
<!-- <script src="~/vendors/echarts/echarts.min.js"></script> -->
}

@section ScriptTag {
<script>
    $(document).ready(function () {
    });
</script>
}